beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
flake8==3.8.3
html5lib==1.1
idna==2.9
importlib-metadata==1.7.0
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
python-http-client==3.2.7
requests==2.24.0
sendgrid==6.4.1
six==1.15.0
soupsieve==2.0.1
starkbank-ecdsa==2.0.1
urllib3==1.25.9
webencodings==0.5.1
zipp==3.1.0
